<!DOCTYPE html>
<html lang="en">
<body>
    <form action="." method="POST">
        <fieldset>
        <legend>
          <b>Notes</b>
        </legend>
        <input type="text" name="noteName" placeholder="Note name"> <br />
        <br />
        <textarea name="note" placeholder="Enter notes here..."></textarea> <br />
        <br />
        <input type="submit" value="Enter">
        </fieldset>
    </form>
    <br />
    <h2>{{e}}</h2>
    <br />
    <b>Previous Notes:</b><br />
    <br />
    {{oldNotes}}
</body>
</html>
