body {
    background-color: #080808;
	color: #CD7B23;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 35px;
} 

a {
	color: #CD7B23;
	font-family: "Arial Black", Gadget, sans-serif;
}

#title {
	background-image:url("cyb_tri.png");
	background-size: 200px 200px;
	background-repeat: no-repeat;
	height: 200px;
	width: 200px;
	background-position: left top;
}